<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--	<bean id="alien1" class="org.example.Alien" scope="singleton">  -->

    <bean id="alien1" class="org.example.Alien" autowire="byName">
<!--    <bean id="alien1" class="org.example.Alien" autowire="byType">-->
    <property name="age" value="21"/>
<!--        <property name="com" ref="com1"/>-->

<!--           total four ways hai constructor injection ke liye -->

<!--        <constructor-arg value="21"> </constructor-arg>-->
<!--        <constructor-arg ref="lap1"> </constructor-arg>-->


<!--        <constructor-arg type="org.example.Laptop" ref="lap1"/>-->
<!--        <constructor-arg type="int" value="21"/>-->


<!--        <constructor-arg index="1" ref="lap1"/>-->
<!--        <constructor-arg index="0" value="21"/>-->


<!--        <constructor-arg name="lap" ref="lap1"/>  &lt;!&ndash; is method ko use karne ke liye ak step or karna hoga jo ki alien.java me kiye hai ( @ConstructorProperties({"age","lap"}) ) &ndash;&gt;-->
<!--        <constructor-arg name="age" value="21"/>-->

    </bean>

    <bean id="com" class="org.example.Laptop">
    </bean>

    <bean id="com1" class="org.example.Desktop">
    </bean>

</beans>